/*
Merlin - Responsive One Page Template
Version: 1.0
By: Hasan Alibegic, hasan461@gmail.com
License: Apache License v2.0
*/
body {
  font-family: 'Open Sans', sans-serif !important;
  color: #444;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300 }
*,
*:focus { outline: none !important }
a { color: #2d2d2d }
a:hover,
a:focus {
  color: #0c86b6;
  text-decoration: none;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
          transition: all .2s;
}
.btn-blue {
  color: #fff;
  background-color: #0093cf;
}
.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-green {
  color: #fff;
  background-color: #71be3c;
}
.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #2a3940;
}
.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.fading-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/fading-line.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#navbar-top { min-height: 51px }
.navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border-top: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.navbar-default .navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0093cf;
  background-color: transparent;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #333 }
.navbar-default.affix {
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.page {
  overflow: hidden;
  padding-bottom: 60px;
}
.page .content { padding: 60px 0 }
.page .content.cover { padding: 0px 0 }
.page .heading h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ribbon-content > h2 {
  font-size: 24px !important;
  line-height: 0;
}

.page .border {
  width: 50%;
  height: 2px;
  margin: 0 auto;
  background-color: #0093d7;
}
.page .heading p { margin: 20px auto 0 }
#home {
  padding: 0;
  color: #000;
}

.home-body{
  padding: 20px;
  background: lightyellow;
  border: 1px solid #FFF;
  box-shadow: 1px 2px 4px rgba(0,0,0,.4);

}

.festival-ticket-img{
  padding: 20px 0  20px;
}

.apple{
  margin-top: 40px;
  background: rgba(233,206,139,0.5);
  border: 0px solid #FFF;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.4);
}

#home h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
}
#home a { margin: 0 5px }
#home h3 {
  margin-top: 20px;
  margin-bottom: 0;
}
#festival {
  background-color: #f5f5f5;
  border-bottom: solid 1px #e7e7e7;
}

#bands {
  background-color: #E9CE6E;
}
#festival .service i { margin-top: 60px }
#festival .service:hover i { color: #71be3c }
#bands .heading p { margin-bottom: 60px }
#portfolio { width: 100% }
#portfolio .filters { margin-bottom: 20px }
#portfolio .filters li a {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .filters li a:hover,
#portfolio .filters li a:focus { color: #333 }
#portfolio .filters li a.active { color: #0093cf }
#portfolio .items { margin-bottom: 0 }
#portfolio .items li {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
}
#portfolio .items li a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
  opacity: 0;
}
#portfolio .items li a .overlay span {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}
#portfolio .items li a:hover .overlay { opacity: 1 }
#portfolio .items li a:hover img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#programm {
  color: #fff;
  background-color: #0093cf;
  padding-top: 40px;
  padding-bottom: 40px;
}
#testimonials .item { margin-bottom: 30px }
#testimonials .quote {
  padding: 0 90px;
  font-size: 16px;
}
#testimonials .quote:before {
  margin-right: 10px;
  font-family: fontawesome;
  content: '\f10d';
}
#testimonials .client { color: #ccc }
#testimonials .carousel-indicators li {
  width: 9px;
  height: 9px;
  border-color: #a6a6a6;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
#testimonials .carousel-indicators li:hover,
#testimonials .carousel-indicators li:focus { border-color: #fff }
#testimonials .carousel-indicators .active {
  width: 9px;
  height: 9px;
  margin: 1px;
  background-color: #71be3c;
  border-color: #fff;
}
#testimonials .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
#testimonials .carousel-control {
  top: 15%;
  width: 0%;
  display: none;
  font-size: 40px;
  background-image: none;
  text-shadow: none;
}
#tickets .content { padding-bottom: 0 }
#tickets .teammate {
  margin-top: 60px; 
  margin-bottom: 60px; 
}
#tickets .teammate .bio { padding-top: 10px }
#tickets .teammate .profile-photo {
  overflow: hidden
}     
#tickets .teammate .profile-photo img {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
#tickets .teammate:hover .profile-photo img,
#tickets .teammate:focus .profile-photo img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#tickets .teammate .bio .border {
  height: 1px;
  margin: 15px auto;
}
#tickets .teammate .bio ul {
  margin-bottom: 0;
  font-size: 16px;
}
#tickets .teammate .bio a { color: #666 }
#tickets .teammate .bio a:hover,
#tickets .teammate .bio a:focus { color: #222 }
#tickets .twitter {
  padding: 20px 0;
  background-color: #f5f5f5;
  border-top: solid 1px #e7e7e7;
}
#tickets .twitter p { margin-bottom: 0 }
#tickets .twitter i {
  margin-bottom: 10px;
  color: #00aced;
}

#hochwald_interlude{
  background: url(../img/cover/contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:  inherit;
  height: 160px;
}


#contact {
  background-color: #000000;
  padding-bottom: 40px;
}
#contact,
#contact a,
#contact a:hover,
#contact a:focus { color: #fff }
#contact .heading .border { background-color: #fff }
#contact a { display: block }
#contact i { margin: 60px 0 15px }
#footer {
  padding: 40px 0;
  color: #ccc;
  text-align: center;
  background-color: #ffffff;
}
#footer a,
#footer a:hover,
#footer a:focus { color: #fff }
#footer .social { margin-bottom: 20px }
#footer .social li .facebook:hover,
#footer .social li .facebook:focus { color: #3b5998 }
#footer .social li .twitter:hover,
#footer .social li .twitter:focus { color: #00aced }
#footer .social li .google-plus:hover,
#footer .social li .google-plus:focus { color: #d34836 }
#footer .social li .dribbble:hover,
#footer .social li .dribbble:focus { color: #ea4c89 }
#footer .copyright { margin-bottom: 0 }
.bands .title {
  color: #222;
}

audio {
  width: 45px;
}

audio:hover{
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width:50%;
}





/* Navigation zentrieren*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}

/* Font der Navigation */

.navbar-nav > li > a {
  font-family: DKJohnBrown;
  font-size: 24px;
}

#map {
  width: 100%;
  height: 300px;
  margin-top: 0px;
  background-color: #ffff00;

}

.social-links {
}

.social-links a img {
}

.social-links a:hover img {
  -webkit-transform:  scale(1.2);
  transform:  scale(1.2);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}


.social-www {
  background-color: gold;
  height: 32px;
  width:40px;
  padding-right: 2px;
}

.media-body{
  width:100%;
  padding: 20px;
}


.initiale{
  font-family: DKJohnBrown;
  font-size: 200%;
  padding-right: 2px;
}

.audiojs {
  width: 50px;
  height: 32px;
  background-image: none;
  background: #eddd8a;
  box-shadow: none;

}

.audiojs:hover {
  background: #EBD35E;
}

/*Programm*/

.programm-icon{
  padding-top: 30px;
/*  border-color: white;
  border-style: solid;
  border-width: 0px 0px 0px 2px;*/

}
.text{
  text-align:left;
  padding:0 0 0 15px;
}
.text h4{
  padding-bottom:5px;
}

.programm-heading{
  width: 100%;
  display: inline-table;
  padding-bottom: 10px;

}

.programm-name{
  display: table-cell;
}

.programm-location {
  padding-top: 7px;
  padding-right: 0px;
  font-size: 110%;
  display: table-cell;
  text-align: right;
}

.programm-location > span {
}


.programm-text{
  text-align: justify;
}



.extra-bottom-padding {
  padding-bottom: 20px;

}

.extra-bottom-padding > div{
  padding-bottom: 30px;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.resale{
  padding-bottom: 20px;
  margin-top: 7px;
}

.resale-top {
  border:4px solid #0093cf;
  border-top: 0px;
  border-right: 0px;
  border-radius: 2px;
}


#hero-div {
  height: calc(100vh - 55px);
}

.label{
  font-weight: 400;
  background-color: #0093cf;
}

.grd > .col-md-4{
  margin: 60px 0 60px 0;
}

.pricing-ico{
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background-size: cover;
}

#prc-1{
  background:url('../img/tickets/cinema.svg');
  background-size: cover;
}
#prc-2{
  background:url('../img/tickets/interface.svg');
  background-size: cover;
}
#prc-3{
  background:url('../img/tickets/people.svg');
  background-size: cover;
}

/* TYPO GELÖT */
h2{
  font-size: 32px !important;
  font-weight: 800;
}

.label-programm-time{
  background-color: #8BCEC1;
  color: #333;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}